name: C++ CI

on:
  push:
    branches:
      - main
      - develop
      - 'release/*'
      - 'hotfix/*'
  pull_request:
    branches:
      - main
      - develop
      - 'release/*'

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake

    - name: Configure CMake
      # We enable tests and examples
      run: cmake -B build -S . -D OBSCURAPROTO_BUILD_TESTS=ON -D OBSCURAPROTO_BUILD_EXAMPLES=ON

    - name: Build project
      run: cmake --build build

    - name: Run tests
      run: |
        cd build
        ctest --output-on-failure