name: Linting and Formatting

on:
  push:
    branches:
      - '**'

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format
      - name: Check formatting
        run: find include src examples tests -name "*.cpp" -o -name "*.hpp" | xargs clang-format --dry-run -Werror
